# output
dist/
lib/
api/assets/*.mmdb
api/assets/*.tar.gz

# env
.env*

# deps
node_modules/
.vercel
package-lock.json

# system
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
