@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter Regular'), url('../assets/fonts/inter-regular.woff2?v=3.15') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter Medium'), url('../assets/fonts/inter-medium.woff2?v=3.15') format('woff2');
}
