// global
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// sticky footer
html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: var(--color-body);
  color: var(--color-font);
}

#app {
  min-height: 100%;
  z-index: 0;
}

#message {
  z-index: 10;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

#modal {
  z-index: 100;
}

// reset
a {
  color: inherit;
  text-decoration: none;
}

strong,
b {
  font-weight: 500;
}
