.a-container {
  width: $responsive-desktop;
  margin: 0 auto;

  @media screen and (max-width: $responsive-desktop + $responsive-offset) {
    width: $responsive-tablet;
  }

  @media screen and (max-width: $responsive-tablet + $responsive-offset) {
    width: 100%;
  }
}

.a-icon {
  fill: currentColor;

  &-opacity {
    opacity: 0.4;
  }
}

.a-spin {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  animation: spin 1s infinite linear;
}
