$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-mono: 'Cascadia Code', 'Fira Code', 'Consolas', monospace;

$font-size-base: 16px;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.375rem;

$space-lg: 1.5rem;
$space-base: 1rem;
$space-sm: 0.75rem;
$space-xs: 0.25rem;

$radius: 3px;

$navbar-height: 3.25rem;
$navbar-height-sm: 2.5rem;

$list-item-height: 2.5rem;
$list-item-height-sm: 1.75rem;

$button-height: 2.5rem;

$input-height: 2rem;
$input-inner-height: 1.5rem;
$input-min-width: 15rem;

$select-height: 2rem;
$select-inner-height: 1.5rem;
$select-min-width: 12rem;
$select-max-width: 20rem;

$modal-min-width: 20rem;
$modal-min-height: 8rem;

$dashboard-data-height: 22.25rem;
$realtime-hero-height: 26rem;
$realtime-data-height: 22.25rem;

$responsive-offset: 16px * 4;
$responsive-desktop: 1080px;
$responsive-tablet: 800px;

@mixin responsive($size) {
  @if $size == desktop {
    @media screen and (max-width: $responsive-desktop + $responsive-offset) and (min-width: $responsive-tablet + $responsive-offset) {
      @content;
    }
  } @else if $size == tablet {
    @media screen and (max-width: $responsive-tablet + $responsive-offset) {
      @content;
    }
  } @else {
    @content;
  }
}
